<html>
<head>
<title>Linatoc.Finals</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #e8bf6a;}
.s2 { color: #e8bf6a;}
.s3 { color: #e8bf6a;}
.s4 { color: #e8bf6a;}
.s5 { color: #e8bf6a;}
.s6 { color: #e8bf6a;}
</style>
</head>
<body bgcolor="#D0C3B0">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#D0C3B0" >
<tr><td><center>
<font face="verdana, Helvetica" color="#000000">
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body>

</body>
</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Understanding Women’s Empowerment</title>
<!DOCTYPE html>
<html>
</head>
<body>
<html>
<head>
    <title>Text alignment</title>
    <style>
        h5{text-align: left;}
    </style>
</head>
<body>
<h1>What is women’s empowerment?</h1>
<p></p>
<li>Women empowerment refers to making women powerful to make them capable of deciding for themselves. Women have suffered a lot through the years at the hands of men. In earlier centuries, they were treated as almost non-existent. As if all the rights belonged to men even something as basic as voting. As the times evolved, women realized their power. There on began the revolution for women empowerment.</li>
<p></p>
<li>Women’s empowerment can be defined to promoting women’s sense of self-worth, their ability to determine their own choices, and their right to influence social change for themselves and others.</li>
<p></p>
<li>As women were not allowed to make decisions for them, women empowerment came in like a breath of fresh air. It made them aware of their rights and how they must make their own place in society rather than depending on a man. It recognized the fact that things cannot simply work in someone’s favor because of their gender. However, we still have a long way to go when we talk about the reasons why we need it.</li>
<p></p>
<img src="https://img.freepik.com/free-vector/mix-race-girls-activists-stand-together-female-empowerment-movement-women-s-community-union-feminists-concept-landscape-background-horizontal-portrait-vector-illustration_48369-33683.jpg?w=2000" style="width:1408px;height:380px;">

</body>
</html>
<h2>Why is empowering girls and women so important?</h2>
<ul><li>When women are living safe, fulfilled and productive lives, they can reach their full potential. contributing their skills to the workforce and can raise happier and healthier children. They are also able to help fuel sustainable economies and benefit societies and humanity at large.</li>
         <p></p>
    <li>A key part of this empowerment is through education. Girls who are educated can pursue meaningful work and contribute to their country’s economy later in life. They are also four times less likely to get married young when they have eight years of education, meaning that they and their families are healthier.</li>

    <!DOCTYPE html>
<html>
   <head>
   <body>
       <h3>Ignite Your Inner Fire With These Empowering Quotes From Some Of The Strongest Women In History </h3>

<div class="row">
  <div class="column" style="background-color:#ADA498;">
    <p>“To all the little girls who are watching this, never doubt that you are valuable and powerful, and deserving of every chance and opportunity in the world to pursue and achieve your own dreams.” — Hillary Clinton</p>
<p>“I do not try to dance better than anyone else. I only try to dance better than myself.” — Arianna Huffington</p>
 <p>“I have chosen to no longer be apologetic for my femaleness and my femininity. And I want to be respected in all of my femaleness because I deserve to be.” — Chimamanda Ngozi Adichie</p>
      <p>“Girls should never be afraid to be smart.” ― Emma Watson</p>
  </div>
  <div class="column" style="background-color:#9C968C;">
    <p>“You don’t have to be pretty. You don’t owe prettiness to anyone. Not to your boyfriend/spouse/partner, not to your co-workers, especially not to random men on the street. You don’t owe it to your mother, you don’t owe it to your children, you don’t owe it to civilization in general. Prettiness is not a rent you pay for occupying a space marked ‘female.'” — Erin McKean</p>
      <p>“More than ever, I am aware of the need to support and celebrate each other. I like to believe I am part of a global support group network of 3.4 billion. Imagine: if you can fall back on the 3.5 billion sisters, and the many good men who are with us, what could we possibly not achieve?” – Nicole Kidman</p>
      <p>“Women have to harness their power—it’s absolutely true. It’s just learning not to take the first ‘no’. And if you can’t go straight ahead, you go around the corner.” – Cher</p>
  </div>
</div>
        <!DOCTYPE html>
<html>
   <head>
   <body>

   <h4>Topics on women's empowerment:</h4>

  <p><a href=https://www.worldvision.com.au/womens-empowerment/#principles>The Women's Empowerment Principles</a></p>
  <p><a href=https://www.worldvision.com.au/womens-empowerment/#quotes>Quotes on women's empowerment</a></p>
  <p><a href=https://www.worldvision.com.au/womens-empowerment/#landscape>The global landscape of women's empowerment</a>
   <p><a href=https://www.worldvision.com.au/womens-empowerment/#important>Why is empowering girls and women so important?</a></p>

<h5>References:</h5>
      <p>
         <p style="text-align: left;"><a href=https://www.toppr.com/guides/essays/essay-on-women-empowerment/>Women empowerment essay</a>
         <p style="text-align: left;"> <a href=https://www.worldvision.com.au/womens-empowerment/>Understanding Women’s Empowerment</a>
           <p style="text-align: left;"> <a href=https://parade.com/967926/leighweingus/women-empowerment-quotes/>Empowering Quotes</a>
      </p>
   </body>
</html>
</ul>
</body>
</html>
